.button {
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 700;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;
  border-radius: 3px;
  border: none;
  text-decoration: none;


  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
