body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: $base-black;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1492px;
  width: 1240px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
