// Base Colors
$base-white:#ffffff;
$base-black: #041827;
$base-header: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$base-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
$base-color: rgba(255, 255, 255, 0.7);


// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
