// Base Colors
$base-white:rgba(242, 245, 246, 1);
$base-black: #041827;
$base-button: rgba(0, 178, 255, 1);
$accent-color: #00b2ff;


// Viewports

$tablet-width: 1023px;
$desktop-width: 1440px;
$mobile-width: 767px;


$base-font-family: "Roboto Condensed", "Arial", sans-serif;
$links-font-family: "PT Mono", "Arial", sans-serif;
